<div
  [ngClass]="
    viewType == 'HandsetPortrait'
      ? 'countries-container-handset-p'
      : 'countries-container'
  "
>
  <div
    class="list"
    [ngStyle]="{
      width: selectedCountry && !viewType ? '50%' : '100%',
      height: viewType == 'HandsetPortrait' && selectedCountry ? '50%' : '100%'
    }"
  >
    <app-input-box
      [selectedCountry]="selectedCountry"
      (searchInput)="inputChange($event)"
    ></app-input-box>
    <div class="list-scrollable">
      <span *ngFor="let country of countries; let i = index">
        <span class="list-item" (click)="selectCountry(i)">
          {{ country.name.common }}
        </span>
      </span>
    </div>
  </div>
  <div *ngIf="selectedCountry" class="details">
    <img
      class="details-flag"
      [src]="selectedCountry.flags.svg"
      alt="country flag image"
    />
    <div class="details-info">
      <span>Official Name - {{ selectedCountry.name.official }}</span>
      <span>
        Capital City -
        {{
          selectedCountry.capital[0]
            ? selectedCountry.capital[0]
            : "No data found"
        }}
      </span>
      <span>
        Location - {{ selectedCountry.region
        }}<span *ngIf="selectedCountry.subregion"
          >, {{ selectedCountry.subregion }}</span
        >
      </span>
      <span>
        Languages -
        {{
          selectedCountry.languages[0]
            ? (selectedCountry.languages | join)
            : "No data found"
        }}
      </span>
      <span>Population - {{ selectedCountry.population | number }}</span>
    </div>
  </div>
</div>
